/*
!*#my-table-data{ !*goi theo id*!
    color: red;
    background-color: aquamarine;
}*!
.w3-table-all{ !*goi theo class*!
    font-family: "Malgun Gothic";
}
!*td{ !*goi theo ten the*!
    color: aqua;
}*!
p.danger{
    color: red;
}*/
